:root
{
    --verde-fuerte: rgb(43, 187, 84);
    --celeste:      #1620A6;
    --cyan:         #00838F;
    --cyan-dark:    #006972;

}

.container{
    width: 95vw;
}

#hero{
    padding: 10px 0;
}

#hero-img{
    width: 90%;
    height: 60vh;
}

#hero-text h5{
    margin: 0;
}

#hero-text p{
    font-size: 0.85em;
    color: var(--verde-fuerte);
    text-align: justify;
}


.hobbies{
    height: 7em;
}

